
body
{
  background-color:  #FFFFFF;
}
body{

	background-size: cover;
	color: black;
 text-align: center;
text-align: center;
background-image: url("tri.jpg");
color: white;
 font-family: "Great Vibes",
 background-image:;
}
h2
{
  color: red;
}
.centre
{
  text-align: center;
}
