body
{
  background-color:  #FFFFFF;
}
body{

	background-size: cover;
  color: black;
   text-align: center;
   text-align: center;
   background-image: url("https://i.pinimg.com/originals/e5/79/96/e5799698e1255e1dfefd6c87b4fa8244.jpg");

}
